.navbar {
  margin: 0 5rem;
}

.navbar-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-main {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-main span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}

.logo-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

.login {
  padding: 10px;
  width: 70px;
  height: 40px;
  background-color: rgb(55, 55, 238);
  background: transparent;
  color: #fff;
}

.nav-links-item {
  list-style: none;
  padding: 10px;
  width: 90px;
  height: 40px;
  margin-left: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact {
  border: 1px solid #fff;
  padding: 10px;
  background: transparent;
  color: #fff;
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .nav-links {
    display: none;
  }

  .navbar-container {
    justify-content: center;
    align-items: center;
  }
}